.but{
    font-size: 15px;
    font-weight: bold;
    border:2px solid white;
    border-radius: 5px;
    background-color: lightgray;
    margin-left: 42.5%;
    width: 15%;
}
body{
    background-color: darkcyan;
}
#body_div{
    font-size: 15px;

    background: darkcyan;
    padding: 5px;
    opacity: 0.85;

    width: 750px;
    margin: auto;

    border:2px solid white;
    border-radius: 10px;
}
#header{
    text-align: center;
    font-size: 50px;
    color: black;
    font-weight:bold;

    border:2px solid white;
    border-radius: 10px;
}
